<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>奔驰</string>
		<key>icon</key>
		<string>m_2_100</string>
		<key>subCars</key>
		<array/>
	</dict>
	<dict>
		<key>name</key>
		<string>宝马</string>
		<key>icon</key>
		<string>m_3_100</string>
		<key>subCars</key>
		<array>
			<string>子品牌-1</string>
			<string>子品牌-2</string>
			<string>子品牌-3</string>
			<string>子品牌-4</string>
			<string>子品牌-5</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>奥迪</string>
		<key>icon</key>
		<string>m_9_100</string>
		<key>subCars</key>
		<array>
			<string>子品牌-1</string>
			<string>子品牌-2</string>
			<string>子品牌-3</string>
			<string>子品牌-4</string>
			<string>子品牌-5</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>上海通用</string>
		<key>icon</key>
		<string>m_7_100</string>
		<key>subCars</key>
		<array>
			<string>子品牌-1</string>
			<string>子品牌-2</string>
			<string>子品牌-3</string>
			<string>子品牌-4</string>
			<string>子品牌-5</string>
			<string>子品牌-6</string>
			<string>子品牌-7</string>
			<string>子品牌-8</string>
			<string>子品牌-9</string>
			<string>子品牌-10</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>上海大众</string>
		<key>icon</key>
		<string>m_8_100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>雪铁龙</string>
		<key>icon</key>
		<string>m_6_100</string>
		<key>subCars</key>
		<array>
			<string>子品牌-1</string>
			<string>子品牌-2</string>
			<string>子品牌-3</string>
			<string>子品牌-4</string>
			<string>子品牌-5</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>现代</string>
		<key>icon</key>
		<string>m_14_100</string>
		<key>subCars</key>
		<array>
			<string>子品牌-1</string>
			<string>子品牌-2</string>
			<string>子品牌-3</string>
			<string>子品牌-4</string>
		</array>
	</dict>
</array>
</plist>
